@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="wireframe header"></div>
    </div>
</div>

<div class="row justify-content-between">
    <div class="col-md-4">
        <div class="wireframe item"></div>
    </div>
    <div class="col-md-4">
        <div class="wireframe item"></div>
    </div>
    <div class="col-md-4">
        <div class="wireframe item"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="wireframe header"></div>
    </div>
</div>

<div class="row justify-content-between">
    <div class="col-md-4">
        <div class="wireframe item"></div>
    </div>
    <div class="col-md-4">
        <div class="wireframe item"></div>
    </div>
    <div class="col-md-4">
        <div class="wireframe item"></div>
    </div>
</div>

<div class="row justify-content-between">
    <div class="col-md-4">
        <div class="wireframe item"></div>
    </div>
    <div class="col-md-4">
        <div class="wireframe item"></div>
    </div>
    <div class="col-md-4">
        <div class="wireframe item"></div>
    </div>
</div>